.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
        width: 112px;
        height: 112px;
        margin-bottom: 8px;
    }

    .username {
        width: 100px;
        height: 23px;
    }

    .nameSurname {
        width: 152px;
        height: 31px;
    }

    .followButton {
        width: 156px;
        height: 36px;
        margin-bottom: 4px;
    }

    .followersCount {
        width: 64px;
        height: 20px;
        margin-bottom: 44px;
    }
}