@import '../variables';

.container {
    background-color: $secondary;
    border-radius: 12px;
    // padding: 16px 12px;
    padding: 12px;
    margin-bottom: 12px;
    // max-width: 80%;
    margin: 0 auto 12px auto;
    display: flex;

    .avatar {
        min-width: 42px;
        max-width: 42px;
        height: 42px;
        font-size: 20px;
        padding: unset;
        font-family: SSP-Regular;
    }

    .others {
        background-color: grey;
    }

    .secret {
        background-color: $frame !important;
    }
        
    .right {
        flex: 1;
        margin-left: 8px;

        .user {
            // display: flex;
            flex-direction: column;
            // justify-content: center;

            .nameSurname {
                font-size: 16px;
                font-family: SSP-SemiBold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }

            .username {
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                opacity: 0.6;
            }
        }

        .content {
            font-size: 20px;
            font-family: SSP-Light;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }
}

.primary {
    background-color: unset;
    background: $primary;
    display: flex;
    // flex-direction: row-reverse;
    // tify-content: right;

    .avatar {
        background: $linear-primary;
    }
}