@import '../variables';

.case {
    display: flex;
    align-items: flex-end;
    width: 100%;

    .timeAgo {
        color: rgba(255, 255, 255, 0.5);
    }
}

.container {
    background-color: $secondary;
    overflow: hidden;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    width: max-content;
    // max-width: 100%;
    // max-width: 90%;

    .avatar {
        min-width: 42px;
        max-width: 42px;
        height: 42px;
        font-size: 20px;
        padding: unset;
        font-family: SSP-Regular;
        margin-right: 12px;
    }

    .others {
        background-color: grey;
    }

    .secretAvatar {
        background-color: $frame !important;
    }
        
    .right {
        flex: 1;

        .user {
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;

            .username {
                font-size: 16px;
                font-family: SSP-SemiBold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }

            .secret {
                color:rgba(255, 255, 255, 0.5);
            }

            .timeAgo {
                margin: 0 8px;
                font-size: 12px;
            }
        }

        .content {
            width: 100%;
            font-size: 20px;
            font-family: SSP-Light;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            word-break: break-word;
        }
    }
}

.primary {
    display: flex;
    justify-content: space-between;

    .provider {
        width: 1px;
    }

    .case {
        flex-direction: row-reverse;
    }

    .container {
        right: 0;
        background-color: unset;
        background: $primary;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // tify-content: right;

        .avatar {
            background: $linear-primary;
            margin: 0 0 0 12px;
        }

        // .user {
        //     width: 100%;
        //     justify-content: flex-end;

        //     .timeAgo {
        //     }
        // }
    }
}