@import '../variables';

.case {
    display: flex;
    align-items: flex-end;
    max-width: 90%;

    span {
        color: rgba(255, 255, 255, 0.5);
        margin: 20px 8px;
    }
}

.container {
    background-color: $secondary;
    overflow: hidden;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    width: max-content;
    max-width: 100%;

    .avatar {
        min-width: 42px;
        max-width: 42px;
        height: 42px;
        font-size: 20px;
        padding: unset;
        font-family: SSP-Regular;
        margin-right: 12px;
    }

    .others {
        background-color: grey;
    }

    .secret {
        background-color: $frame !important;
    }
        
    .right {
        flex: 1;

        .user {
            // display: flex;
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // justify-content: center;

            .nameSurname {
                font-size: 16px;
                font-family: SSP-SemiBold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                margin-right: 4px;
            }
        }

        .content {
            width: 100%;
            font-size: 20px;
            font-family: SSP-Light;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            word-break: break-word;
        }
    }
}

.primary {
    display: flex;
    justify-content: space-between;

    .provider {
        width: 1px;
    }

    .case {
        flex-direction: row-reverse;
    }

    .container {
        right: 0;
        background-color: unset;
        background: $primary;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // tify-content: right;

        .avatar {
            background: $linear-primary;
            margin: 0 0 0 12px;
        }
    }
}