@import '../../variables';

.container {
    width: 100%;
    margin-bottom: 88px;
    background-color: red;

    .topBar {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: top 0.4s;
        padding: 0 12px;

        .left {
            display: flex;
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
            }

            p {
                font-size: 32px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                font-family: SSP-SemiBold;
                line-height: normal;
                letter-spacing: normal;
                margin-left: 8px;
                // margin-top: -2px;
            }
        }

        .avatar {
            font-family: SSP-SemiBold;
            padding: unset;
        }
    }

    .hidden {
        top: -72px;
    }
}